fastapi
uvicorn
python-dotenv
pydantic-settings
langchain
langchain-community
langchain_core
pypdf
langchain-text-splitters
chromadb
sentence-transformers
python-multipart
huggingface_hub
langchain-huggingface
langchain_chroma
langchain_groq
langchain-classic
groq